{
  "extends": [
    "mourner",
    "plugin:import/recommended"
  ],
  "parserOptions": {
    "sourceType": "module"
  },
  "plugins": [
    "import",
    "jsdoc"
  ],
  "rules": {
    // temporarily disabled due to https://github.com/babel/babel-eslint/issues/485
    "no-use-before-define": "off",

    // no-duplicate-imports doesn't play well with Flow
    // https://github.com/babel/eslint-plugin-babel/issues/59
    "no-duplicate-imports": "off",
    "import/no-duplicates": "error",

    // temporarily disabled for easier upgrading of dependencies
    "implicit-arrow-linebreak": "off",
    "arrow-parens": "off",
    "arrow-body-style": "off",
    "no-confusing-arrow": "off",
    "no-control-regex": "off",
    "no-invalid-this": "off",
    "no-buffer-constructor": "off",

    // import/no-unresolved doesn't support package.json exports and imports
    // https://github.com/import-js/eslint-plugin-import/issues/1868
    "import/no-unresolved": ["error", {"ignore": ["swiper"]}],

    "array-bracket-spacing": "off",
    "consistent-return": "off",
    "global-require": "off",
    "import/no-commonjs": "error",
    "import/no-named-as-default" : "off",
    "key-spacing": "off",
    "no-eq-null": "off",
    "no-lonely-if": "off",
    "no-new": "off",
    "no-unused-vars": ["error", {"argsIgnorePattern": "^_$"}],
    "no-warning-comments": "error",
    "object-curly-spacing": ["error", "never"],
    "prefer-arrow-callback": "error",
    "prefer-const": ["error", {"destructuring": "all"}],
    "prefer-template": "error",
    "quotes": "off",
    "space-before-function-paren": "off",
    "template-curly-spacing": "error",
    "no-useless-escape": "off",
    "indent": ["error", 4, {
      "flatTernaryExpressions": true,
      "CallExpression": {
        "arguments": "off"
      },
      "FunctionDeclaration": {
        "parameters": "off"
      },
      "FunctionExpression": {
        "parameters": "off"
      }
    }],
    "no-multiple-empty-lines": [ "error", { 
        "max": 1
    }],
    "jsdoc/check-param-names": "warn",
    "jsdoc/require-param": "warn",
    "jsdoc/require-param-description": "warn",
    "jsdoc/require-param-name": "warn",
    "jsdoc/require-returns": "warn",
    "jsdoc/require-returns-description": "warn"
  },
  "settings": {
    "jsdoc":{
      "ignorePrivate": true
    }
  },
  "ignorePatterns": ["src/extend.js"],
  "globals": {
    "performance": true
  },
  "env": {
    "es6": true,
    "browser": true
  }
}
