{
  "extends": [
    "mourner",
    "plugin:import/recommended"
  ],
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018
  },
  "plugins": [
    "import",
    "jsdoc"
  ],
  "rules": {
    // temporarily disabled for easier upgrading of dependencies
    "implicit-arrow-linebreak": "off",
    "arrow-parens": "off",
    "arrow-body-style": "off",
    "no-confusing-arrow": "off",

    "array-bracket-spacing": "off",
    "consistent-return": "off",
    "import/no-commonjs": "error",
    "import/no-duplicates": "error",
    "import/no-unresolved": "error",
    "no-lonely-if": "off",
    "no-unused-vars": ["error", {"argsIgnorePattern": "^_"}],
    "no-warning-comments": "error",
    "no-mixed-operators": ["error", {"groups": [["&", "|", "^", "~", "<<", ">>", ">>>"], ["&&", "||"]]}],
    "object-curly-spacing": ["error", "never"],
    "prefer-arrow-callback": "error",
    "prefer-const": ["error", {"destructuring": "all"}],
    "prefer-template": "error",
    "quotes": "off",
    "space-before-function-paren": "off",
    "template-curly-spacing": "error",
    "no-useless-escape": "off",
    "indent": ["error", 4, {
      "flatTernaryExpressions": true,
      "CallExpression": {
        "arguments": "off"
      },
      "FunctionDeclaration": {
        "parameters": "off"
      },
      "FunctionExpression": {
        "parameters": "off"
      }
    }],
    "no-multiple-empty-lines": [ "error", { 
        "max": 1
    }],
    "jsdoc/check-param-names": "error",
    "jsdoc/require-param": "error",
    "jsdoc/require-param-description": "error",
    "jsdoc/require-param-name": "error",
    "jsdoc/require-returns": "error",
    "jsdoc/require-returns-description": "error",
    "jsdoc/require-property": "error",
    "jsdoc/check-access": "error",
    "jsdoc/check-line-alignment": ["error", "any", {"wrapIndent": "    "}],
    "jsdoc/check-property-names": "error",
    "jsdoc/check-types": "error",
    "jsdoc/require-description": "error",
    "jsdoc/require-param-type": "error",
    "jsdoc/require-property-description": "error",
    "jsdoc/require-property-name": "error",
    "jsdoc/require-property-type": "error",
    "jsdoc/require-returns-type": "error"
  },
  "settings": {
    "jsdoc":{
      "ignorePrivate": true,
      "preferredTypes": {
        "object": "Object"
      }
    }
  },
  "ignorePatterns": ["src/extend.js"],
  "env": {
    "es2018": true,
    "browser": true
  }
}
