/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.navbar .logo
  margin-right .2rem!important

.theme-default-content:not(.custom)>h1,
.theme-default-content:not(.custom)>h2,
.theme-default-content:not(.custom)>h3,
.theme-default-content:not(.custom)>h4,
.theme-default-content:not(.custom)>h5,
.theme-default-content:not(.custom)>h6
  margin-bottom 1rem

td
  line-height 1.7
