@import 'mapbox-gl';

.mini-tokyo-3d {
    width: 380px;
    height: 380px;
    margin: 0;
    padding: 0;
    position: relative;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    cursor: default;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    touch-action: none;
    overflow: hidden;
}
.mini-tokyo-3d #map {
    width: 100%;
    height: 100%;
    position: relative;
}
.mini-tokyo-3d .loader-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 21px;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    background-color: #eee;
    opacity: .9;
    transition: opacity 1s linear;
    box-sizing: initial;
}
.mini-tokyo-3d #loading-error {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 21px;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    color: #333;
    background-color: #eee;
    opacity: .9;
    display: none;
}
.mini-tokyo-3d .clock-ctrl {
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    color: #fff;
    pointer-events: auto;
}
.mini-tokyo-3d #time {
    font-size: 150%;
}
.mini-tokyo-3d .clock-controller {
    width: 100%;
    margin-bottom: 10px;
    display: table;
    font-size: 150%;
}
.mini-tokyo-3d .clock-controller > span {
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}
.mini-tokyo-3d .clock-controller-separator {
    width: 10px;
}
.mini-tokyo-3d .spin-box {
    width: 39px;
    border-radius: 10px;
    box-shadow: 0 0 0 1px #777;
}
.mini-tokyo-3d .spin-box:first-child {
    width: 52px;
}
.mini-tokyo-3d .spin-box > div {
    width: 100%;
    height: 39px;
    line-height: 39px;
    text-align: center;
}
.mini-tokyo-3d .spin-box > div:first-child {
    border-bottom: solid 1px #777;
}
.mini-tokyo-3d .spin-box > div:last-child {
    border-top: solid 1px #777;
}
.mini-tokyo-3d .spin-box button {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
}
.mini-tokyo-3d .spin-box .top-button {
    border-radius: 10px 10px 0 0;
}
.mini-tokyo-3d .spin-box .bottom-button {
    border-radius: 0 0 10px 10px;
}
.mini-tokyo-3d .clock-button {
    width: 100%;
    margin-top: 4px;
    margin-bottom: 10px;
    display: table;
}
.mini-tokyo-3d .clock-button > span {
    height: 39px;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}
.mini-tokyo-3d .clock-button button {
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 0 1px #777;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
}
.mini-tokyo-3d .speed-controller {
    width: 100%;
    display: table;
    border-radius: 10px;
    box-shadow: 0 0 0 1px #777;
}
.mini-tokyo-3d .speed-controller > span {
    height: 39px;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}
.mini-tokyo-3d .speed-controller > span:first-child {
    width: 39px;
    border-right: solid 1px #777;
}
.mini-tokyo-3d .speed-controller > span:last-child {
    width: 39px;
    border-left: solid 1px #777;
}
.mini-tokyo-3d .speed-controller button {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
}
.mini-tokyo-3d .speed-controller .left-button {
    border-radius: 10px 0 0 10px;
}
.mini-tokyo-3d .speed-controller .right-button {
    border-radius: 0 10px 10px 0;
}
.mini-tokyo-3d .decrease-icon {
    display: block;
    width: 100%;
    height: 13px;
    background: no-repeat center/13px svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/minus.svg', fill: #fff);
}
.mini-tokyo-3d button:disabled .decrease-icon {
    background-image: svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/minus.svg', fill: #7f7f7f);
}
.mini-tokyo-3d .clock-ctrl button {
    font-size: 12px;
}
.mini-tokyo-3d .clock-ctrl button:disabled {
    color: #777;
    cursor: not-allowed;
}
.mini-tokyo-3d .clock-ctrl button:not(:disabled):hover {
    background-color: rgba(51, 51, 51, 0.7);
}
.mini-tokyo-3d .increase-icon {
    display: block;
    width: 100%;
    height: 13px;
    background: no-repeat center/13px svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/plus.svg', fill: #fff);
}
.mini-tokyo-3d button:disabled .increase-icon {
    background-image: svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/plus.svg', fill: #7f7f7f);
}
.mini-tokyo-3d #clock-speed {
    padding: 0 6px;
}
.mini-tokyo-3d .share-panel {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 50%;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    color: #fff;
    transform: translate(-50%, 0);
}
.mini-tokyo-3d .share-button {
    height: 39px;
    padding: 0 6px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 0 1px #777;
    display: block;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    font-size: 12px;
    line-height: 20px;
}
.mini-tokyo-3d .share-button:hover {
    background-color: rgba(51, 51, 51, 0.7);
}
.mini-tokyo-3d .share-button:before {
    content: "";
    display: block;
    background: no-repeat center/20px 20px svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/share-nodes.svg', fill: #fff);
    width: 20px;
    height: 20px;
    float: left;
    margin: 0 6px 0 0;
}
.mini-tokyo-3d .notification {
    position: absolute;
    z-index: 3;
    top: 33%;
    left: 50%;
    padding: 20px;
    border-radius: 0 0 10px 10px;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    color: #fff;
    opacity: 1;
    font-size: 130%;
    transform: translate(-50%, -50%);
    transition: opacity 1s linear;
}
.mini-tokyo-3d .panel {
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 0;
    right: 0;
    width: calc(100% - 20px);
    max-width: 380px;
    height: 33%;
    margin: auto;
    border-radius: 10px 10px 0 0;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    font-size: 130%;
    color: #fff;
    transition: height 300ms;
}
.mini-tokyo-3d .panel.collapsed {
    height: 50px;
}
.mini-tokyo-3d #panel-header {
    position: relative;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    line-height: 30px;
    overflow: hidden;
}
.mini-tokyo-3d #panel-title {
    width: calc(100% - 30px);
    font-weight: bold;
}
.mini-tokyo-3d #panel-body {
    height: calc(100% - 50px);
    margin-top: 10px;
    overflow: auto;
    overscroll-behavior: contain;
    line-height: 130%;
}
.mini-tokyo-3d #panel-content{
    position: relative;
    padding: 0 10px;
    overflow: hidden;
}
.mini-tokyo-3d .windows {
    scrollbar-width: thin;
    scrollbar-color: #ccc transparent;
}
.mini-tokyo-3d .windows::-webkit-scrollbar {
    width: 10px;
}
.mini-tokyo-3d .windows::-webkit-scrollbar-thumb {
    background: #ccc;
    background-clip: content-box;
    border-radius: 6px;
    border: solid 2px transparent;
}
.mini-tokyo-3d .train-panel.collapsed {
    height: 68px;
}
.mini-tokyo-3d .train-panel #panel-header {
    height: 48px;
    line-height: 24px;
}
.mini-tokyo-3d .train-panel #panel-body {
    height: calc(100% - 68px);
}
.mini-tokyo-3d #railway-mark {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 100%;
}
.mini-tokyo-3d .train-panel #railway-mark {
    left: 10px;
}
.mini-tokyo-3d #train-mark {
    position: absolute;
    top: 0;
    left: 0;
    width: 44px;
    height: calc(100% + 20px);
}
.mini-tokyo-3d .station-row {
    display: table;
    width: 100%;
    margin: 5px 0;
}
.mini-tokyo-3d .station-row:last-child {
    margin-bottom: 10px;
}
.mini-tokyo-3d .station-row:hover {
    background-color: rgba(102, 102, 102, 0.7);
}
.mini-tokyo-3d .station-row > div {
    display: table-cell;
    vertical-align: middle;
}
.mini-tokyo-3d .station-row .station-title-box {
    padding-left: 30px;
}
.mini-tokyo-3d .station-row .station-time-box {
    width: 42px;
    text-align: right;
}
.mini-tokyo-3d .station-row .train-title-box {
    padding-left: 40px;
    font-size: 12px;
    line-height: 20px;
}
.mini-tokyo-3d .bus-panel.collapsed {
    height: 68px;
}
.mini-tokyo-3d .bus-panel #panel-header {
    height: 48px;
    line-height: 24px;
}
.mini-tokyo-3d .bus-panel #panel-body {
    height: calc(100% - 68px);
}
.mini-tokyo-3d #busroute-mark {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 100%;
}
.mini-tokyo-3d .bus-panel #busroute-mark {
    left: 10px;
}
.mini-tokyo-3d #bus-mark {
    position: absolute;
    top: 0;
    left: 0;
    width: 44px;
    height: calc(100% + 20px);
}
.mini-tokyo-3d .busstop-row {
    display: table;
    width: 100%;
    margin: 5px 0;
}
.mini-tokyo-3d .busstop-row:last-child {
    margin-bottom: 10px;
}
.mini-tokyo-3d .busstop-row:hover {
    background-color: rgba(102, 102, 102, 0.7);
}
.mini-tokyo-3d .busstop-row > div {
    display: table-cell;
    vertical-align: middle;
}
.mini-tokyo-3d .busstop-row .busstop-title-box {
    padding-left: 30px;
}
.mini-tokyo-3d .busstop-row .busstop-time-box {
    width: 0;
    text-align: right;
}
.mini-tokyo-3d .station-panel.station-to,
.mini-tokyo-3d .station-panel.station-from {
    height: 230px;
}
.mini-tokyo-3d .station-panel.collapsed {
    height: 93px;
}
.mini-tokyo-3d .station-panel.station-searching.collapsed,
.mini-tokyo-3d .station-panel.station-routes.collapsed,
.mini-tokyo-3d .station-panel.station-noroute.collapsed {
    height: 59px;
}
.mini-tokyo-3d .station-panel #panel-header {
    height: 73px;
    line-height: 24px;
    overflow: visible;
}
.mini-tokyo-3d .station-panel.station-searching #panel-header,
.mini-tokyo-3d .station-panel.station-routes #panel-header,
.mini-tokyo-3d .station-panel.station-noroute #panel-header {
    height: 39px;
    line-height: 39px;
}
.mini-tokyo-3d .station-panel #panel-title > div {
    display: none;
}
.mini-tokyo-3d .station-panel.station-departure #station-title-name,
.mini-tokyo-3d .station-panel.station-to #station-title-name,
.mini-tokyo-3d .station-panel.station-from #station-title-name,
.mini-tokyo-3d .station-panel.station-exits #station-title-name,
.mini-tokyo-3d .station-panel.station-searching #station-title-searching,
.mini-tokyo-3d .station-panel.station-routes #station-title-routes,
.mini-tokyo-3d .station-panel.station-noroute #station-title-searching {
    display: block;
}
.mini-tokyo-3d #station-title-name > div {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mini-tokyo-3d .station-content-selector {
    width: 100%;
    margin-top: 10px;
    display: table;
    border-radius: 10px;
    box-shadow: 0 0 0 1px #777;
}
.mini-tokyo-3d .station-content-selector > span {
    min-width: 40px;
    height: 39px;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}
.mini-tokyo-3d .station-content-selector > span:not(:last-child) {
    border-right: solid 1px #777;
}
.mini-tokyo-3d .station-content-selector input[type="radio"] {
    -webkit-appearance: none;
    appearance: none;
    display: block;
    height: 0;
    margin: 0;
}
.mini-tokyo-3d .station-content-selector label {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-weight: normal;
    line-height: 39px;
    cursor: pointer;
}
.mini-tokyo-3d .station-content-selector label:hover {
    background-color: rgba(51, 51, 51, 0.7);
}
.mini-tokyo-3d .station-content-selector > span:first-child label {
    border-radius: 10px 0 0 10px;
}
.mini-tokyo-3d .station-content-selector > span:last-child label {
    border-radius: 0 10px 10px 0;
}
.mini-tokyo-3d .station-content-selector input[type="radio"]:checked ~ label {
    color: #33B5E5;
}
.mini-tokyo-3d .station-panel #panel-body {
    height: calc(100% - 93px);
}
.mini-tokyo-3d .station-panel.station-searching #panel-body,
.mini-tokyo-3d .station-panel.station-routes #panel-body {
    height: calc(100% - 59px);
}
.mini-tokyo-3d .station-panel #panel-content > div {
    display: none;
}
.mini-tokyo-3d .station-panel.station-departure #station-departure,
.mini-tokyo-3d .station-panel.station-to #station-to,
.mini-tokyo-3d .station-panel.station-from #station-from,
.mini-tokyo-3d .station-panel.station-exits #station-exits,
.mini-tokyo-3d .station-panel.station-searching #station-searching,
.mini-tokyo-3d .station-panel.station-routes #station-routes,
.mini-tokyo-3d .station-panel.station-noroute #station-noroute {
    display: block;
}
.mini-tokyo-3d .station-panel.station-searching #panel-content,
.mini-tokyo-3d .station-panel.station-routes #panel-content,
.mini-tokyo-3d #station-searching,
.mini-tokyo-3d #station-routes {
    height: 100%;
}
.mini-tokyo-3d #station-searching > .ball-pulse {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.5, .5);
    box-sizing: initial;
    position: absolute;
}
.mini-tokyo-3d .direction-row {
    width: 100%;
    margin: 4px 0;
    display: table;
}
.mini-tokyo-3d .direction-row .line-strip {
    width: 10px;
    height: 30px;
    display: table-cell;
}
.mini-tokyo-3d .direction-label {
    width: calc(100% - 10px);
    padding-left: 8px;
    height: 30px;
    line-height: 30px;
    display: table-cell;
}
.mini-tokyo-3d .trains-row {
    width: 100%;
    margin: 4px 0 10px 0;
}
.mini-tokyo-3d .train-row {
    width: 100%;
    margin: 4px 0;
    display: table;
}
.mini-tokyo-3d .train-row:hover {
    background-color: rgba(102, 102, 102, 0.7);
}
.mini-tokyo-3d .train-row > div {
    height: 24px;
    vertical-align: middle;
    display: table-cell;
}
.mini-tokyo-3d .train-row .train-time-box {
    width: 50px;
}
.mini-tokyo-3d .train-row .train-title-box {
    overflow: hidden;
}
.mini-tokyo-3d .exit-row {
    display: table;
    width: 100%;
    height: 24px;
    margin: 4px 0;
    line-height: 24px;
    cursor: pointer;
}
.mini-tokyo-3d .exit-row.closed {
    color: #f90;
}
.mini-tokyo-3d .exit-row:hover {
    background-color: rgba(102, 102, 102, 0.7);
}
.mini-tokyo-3d .exit-row:last-child {
    margin-bottom: 10px;
}
.mini-tokyo-3d .exit-row > div {
    display: table-cell;
    height: 30px;
    vertical-align: middle;
}
.mini-tokyo-3d .exit-icon-box {
    background: no-repeat center left/20px svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/right-to-bracket.svg', fill: #fff);
    width: 26px;
}
.mini-tokyo-3d .exit-row.closed .exit-icon-box {
    background-image: svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/rectangle-xmark.svg', fill: #f90);
}
.mini-tokyo-3d .exit-title-box {
    overflow: hidden;
}
.mini-tokyo-3d .exit-stairs-icon {
    background: no-repeat center right/20px svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/stairs.svg', fill: #fff);
    width: 23px;
}
.mini-tokyo-3d .exit-stairs-small-icon {
    display: inline-block;
    background: no-repeat center left/16px svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/stairs.svg', fill: #fff);
    width: 18px;
    height: 20px;
    vertical-align: top;
}
.mini-tokyo-3d .exit-elevator-icon {
    background: no-repeat center right/20px svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/elevator.svg', fill: #fff);
    width: 23px;
}
.mini-tokyo-3d .exit-elevator-small-icon {
    display: inline-block;
    background: no-repeat center left/16px svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/elevator.svg', fill: #fff);
    width: 18px;
    height: 20px;
    vertical-align: top;
}
.mini-tokyo-3d .exit-escalator-icon {
    background: no-repeat center right/20px svg-load('../svg/escalator.svg', fill: #fff);
    width: 23px;
}
.mini-tokyo-3d .exit-escalator-small-icon {
    display: inline-block;
    background: no-repeat center left/16px svg-load('../svg/escalator.svg', fill: #fff);
    width: 18px;
    height: 20px;
    vertical-align: top;
}
.mini-tokyo-3d .exit-ramp-icon {
    background: no-repeat center right/20px svg-load('../svg/wheelchair-ramp.svg', fill: #fff);
    width: 23px;
}
.mini-tokyo-3d .exit-ramp-small-icon {
    display: inline-block;
    background: no-repeat center left/16px svg-load('../svg/wheelchair-ramp.svg', fill: #fff);
    width: 18px;
    height: 20px;
    vertical-align: top;
}
.mini-tokyo-3d .exit-share-button {
    width: 0;
}
.mini-tokyo-3d .panel-button-group {
    position: absolute;
    top: 0;
    right: 10px;
    height: 100%;
}
.mini-tokyo-3d .panel-button-group > * {
    margin-left: 10px;
    float: right;
}
.mini-tokyo-3d .slide-button {
    width: 20px;
    height: 100%;
    background: no-repeat center/17px svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/angle-down.svg', fill: #fff);
    pointer-events: none;
}
.mini-tokyo-3d .collapsed .slide-button {
    background-image: svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/angle-up.svg', fill: #fff);
}
.mini-tokyo-3d #slide-button {
    pointer-events: none;
}
.mini-tokyo-3d .page-controller {
    display: table;
    border-radius: 10px;
    box-shadow: 0 0 0 1px #777;
}
.mini-tokyo-3d .page-controller > span {
    width: 39px;
    height: 39px;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
}
.mini-tokyo-3d .page-controller > span:first-child {
    margin-right: 1px;
    border-right: solid 1px #777;
}
.mini-tokyo-3d .page-controller button {
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
}
.mini-tokyo-3d .page-controller .previous-button {
    border-radius: 10px 0 0 10px;
}
.mini-tokyo-3d .page-controller .next-button {
    border-radius: 0 10px 10px 0;
}
.mini-tokyo-3d .previous-icon {
    display: block;
    width: 100%;
    height: 15px;
    background: no-repeat center/12px svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/angle-left.svg', fill: #fff);
}
.mini-tokyo-3d button:disabled .previous-icon {
    background-image: svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/angle-left.svg', fill: #7f7f7f);
}
.mini-tokyo-3d .page-controller button:disabled {
    cursor: not-allowed;
}
.mini-tokyo-3d .page-controller button:not(:disabled):hover {
    background-color: rgba(51, 51, 51, 0.7);
}
.mini-tokyo-3d .next-icon {
    display: block;
    width: 100%;
    height: 15px;
    background: no-repeat center/12px svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/angle-right.svg', fill: #fff);
}
.mini-tokyo-3d button:disabled .next-icon {
    background-image: svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/angle-right.svg', fill: #7f7f7f);
}
.mini-tokyo-3d .back-button {
    width: 39px;
    height: 39px;
    display: block;
    padding: 0;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 0 1px #777;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
}
.mini-tokyo-3d .back-button:hover {
    background-color: rgba(51, 51, 51, 0.7);
}
.mini-tokyo-3d .back-icon {
    display: block;
    width: 100%;
    height: 17px;
    background: no-repeat center/17px svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/arrow-rotate-left.svg', fill: #fff);
}
.mini-tokyo-3d #search-form {
    display: none;
}
.mini-tokyo-3d .search-form #search-form {
    display: block;
}
.mini-tokyo-3d .search-form-element {
    margin: 2px 0 4px;
}
.mini-tokyo-3d .search-input {
    width: 240px;
    height: 35px;
    padding: 1px;
    font-size: 15.6px;
    border: 1px solid #777;
    border-radius: 0;
    background-color: transparent;
    color: #fff;
}
.mini-tokyo-3d .search-input:hover {
    background-color: rgba(51, 51, 51, 0.7);
}
.mini-tokyo-3d .search-select {
    -webkit-appearance: none;
    appearance: none;
    height: 39px;
    padding: 0 10px;
    margin: 0 4px 0 0;
    border: 1px solid #777;
    border-radius: 10px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    font-size: 15.6px;
}
.mini-tokyo-3d .search-select:hover {
    background-color: rgba(51, 51, 51, 0.7);
}
.mini-tokyo-3d .search-button {
    -webkit-appearance: none;
    appearance: none;
    width: calc(100% - 2px);
    height: 37px;
    margin: 1px;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 0 0 1px #777;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    font-size: 15.6px;
}
.mini-tokyo-3d .search-button:disabled {
    color: #777;
    cursor: not-allowed;
}
.mini-tokyo-3d .search-button:not(:disabled):hover {
    background-color: rgba(51, 51, 51, 0.7);
}
.mini-tokyo-3d .ctrl-group,
.mini-tokyo-3d .mapboxgl-ctrl-group {
    border-radius: 10px;
}
.mini-tokyo-3d .mapboxgl-ctrl.ctrl-group button:not(:disabled):hover {
    background-color: rgba(51, 51, 51, 0.7);
}
.mini-tokyo-3d .mapboxgl-ctrl-group button {
    width: 39px;
    height: 39px;
}
.mini-tokyo-3d .mapboxgl-ctrl-group button:first-child {
    border-radius: 10px 10px 0 0;
}
.mini-tokyo-3d .mapboxgl-ctrl-group button:last-child {
    border-radius: 0 0 10px 10px;
}
.mini-tokyo-3d .mapboxgl-ctrl-group button:only-child {
    border-radius: inherit;
}
.mini-tokyo-3d .mapboxgl-ctrl-search {
    transition: width 300ms ease;
}
.mini-tokyo-3d .mapboxgl-ctrl-search.expanded {
    width: 250px;
}
.mini-tokyo-3d .mapboxgl-ctrl button.mapboxgl-ctrl-search .mapboxgl-ctrl-icon {
    background: no-repeat right 10px center/19px svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/magnifying-glass.svg', fill: #333);
}
.mini-tokyo-3d .mapboxgl-ctrl button.mapboxgl-ctrl-underground .mapboxgl-ctrl-icon {
    background: no-repeat center/23px svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/eye.svg', fill: #333);
}
.mini-tokyo-3d .mapboxgl-ctrl button.mapboxgl-ctrl-underground-visible .mapboxgl-ctrl-icon {
    background-image: svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/eye.svg', fill: #33B5E5);
}
.mini-tokyo-3d .mapboxgl-ctrl button.mapboxgl-ctrl-playback .mapboxgl-ctrl-icon {
    background: no-repeat center/21px svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/circle-play.svg', fill: #333);
}
.mini-tokyo-3d .mapboxgl-ctrl button.mapboxgl-ctrl-playback-active .mapboxgl-ctrl-icon {
    background-image: svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/circle-play.svg', fill: #33B5E5);
}
.mini-tokyo-3d .mapboxgl-ctrl button.mapboxgl-ctrl-eco .mapboxgl-ctrl-icon {
    background: no-repeat center/21px svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/battery-three-quarters.svg', fill: #333);
}
.mini-tokyo-3d .mapboxgl-ctrl button.mapboxgl-ctrl-eco-active .mapboxgl-ctrl-icon {
    background-image: svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/battery-three-quarters.svg', fill: #33B5E5);
}
.mini-tokyo-3d .mapboxgl-ctrl button.mapboxgl-ctrl-layers .mapboxgl-ctrl-icon {
    background: no-repeat center/21px svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/layer-group.svg', fill: #333);
}
.mini-tokyo-3d .mapboxgl-ctrl button.mapboxgl-ctrl-tracking-mode .mapboxgl-ctrl-icon {
    background: no-repeat center/19px svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/video.svg', fill: #333);
}
.mini-tokyo-3d .mapboxgl-ctrl button.mapboxgl-ctrl-about .mapboxgl-ctrl-icon {
    background: no-repeat center/21px svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/circle-info.svg', fill: #333);
}
.mini-tokyo-3d .mapboxgl-popup-content {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    pointer-events: none;
}
.mini-tokyo-3d .popup-touch .mapboxgl-popup-content {
    pointer-events: auto;
}
.mini-tokyo-3d .highlighted .mapboxgl-popup-content {
    background-color: rgba(102, 102, 102, 0.7);
}
.mini-tokyo-3d .popup-ad-cars .mapboxgl-popup-content {
     padding: 5px 10px;
     font-weight: bold;
 }
 .mini-tokyo-3d .popup-exit .mapboxgl-popup-content {
    padding: 5px 10px;
}
.mini-tokyo-3d .mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mini-tokyo-3d .mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mini-tokyo-3d .mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
    border-bottom-color: rgba(0, 0, 0, 0.7);
}
.mini-tokyo-3d .mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mini-tokyo-3d .mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mini-tokyo-3d .mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
    border-top-color: rgba(0, 0, 0, 0.7);
}
.mini-tokyo-3d .mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
    border-right-color: rgba(0, 0, 0, 0.7);
}
.mini-tokyo-3d .mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
    border-left-color: rgba(0, 0, 0, 0.7);
}
.mini-tokyo-3d .mapboxgl-popup-anchor-top.highlighted .mapboxgl-popup-tip,
.mini-tokyo-3d .mapboxgl-popup-anchor-top-left.highlighted .mapboxgl-popup-tip,
.mini-tokyo-3d .mapboxgl-popup-anchor-top-right.highlighted .mapboxgl-popup-tip {
    border-bottom-color: rgba(102, 102, 102, 0.7);
}
.mini-tokyo-3d .mapboxgl-popup-anchor-bottom.highlighted .mapboxgl-popup-tip,
.mini-tokyo-3d .mapboxgl-popup-anchor-bottom-left.highlighted .mapboxgl-popup-tip,
.mini-tokyo-3d .mapboxgl-popup-anchor-bottom-right.highlighted .mapboxgl-popup-tip {
    border-top-color: rgba(102, 102, 102, 0.7);
}
.mini-tokyo-3d .mapboxgl-popup-anchor-left.highlighted .mapboxgl-popup-tip {
    border-right-color: rgba(102, 102, 102, 0.7);
}
.mini-tokyo-3d .mapboxgl-popup-anchor-right.highlighted .mapboxgl-popup-tip {
    border-left-color: rgba(102, 102, 102, 0.7);
}
.mini-tokyo-3d .search-box {
    top: 20px;
    left: 10px;
    width: calc(100% - 50px);
    height: 22px;
    padding: 0;
    transform: translate(0, -50%);
    font-size: 16px;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0);
    position: absolute;
    z-index: 3;
}
.mini-tokyo-3d .search-box.disabled {
    visibility: hidden;
}
.mini-tokyo-3d .desc-header {
    display: flex;
}
.mini-tokyo-3d .desc-header > div:first-child {
    width: 10px;
    flex-shrink: 0;
}
.mini-tokyo-3d .desc-header > div:last-child {
    padding-left: 8px;
    flex-grow: 1;
}
.mini-tokyo-3d .desc-caution {
    color: #f90;
}
.mini-tokyo-3d .desc-first-row {
    width: 312px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mini-tokyo-3d .desc-second-row {
    width: 312px;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mini-tokyo-3d .line-strip {
    width: 10px;
    height: 13px;
}
.mini-tokyo-3d .line-strip-long {
    width: 10px;
    height: 16px;
}
.mini-tokyo-3d .train-type-label,
.mini-tokyo-3d .bus-route-label {
    padding: 2px 2px 1px 2px;
    border-radius: 3px;
    color: #333;
    background-color: #fff;
}
.mini-tokyo-3d .realtime-icon {
    display: inline-block;
    background: no-repeat center right/20px svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/wifi.svg', fill: #fff);
    width: 24px;
    height: 24px;
    vertical-align: top;
}
.mini-tokyo-3d .realtime-small-icon {
    display: inline-block;
    background: no-repeat center right/16px svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/wifi.svg', fill: #fff);
    width: 20px;
    height: 20px;
    vertical-align: top;
}
.mini-tokyo-3d .thumbnail-image-container {
    width: 128px;
    height: 72px;
    margin-bottom: 4px;
    position: relative;
}
.mini-tokyo-3d .thumbnail-image-container > .ball-pulse {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.5, .5);
    box-sizing: initial;
    position: absolute;
}
.mini-tokyo-3d .thumbnail-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    position: absolute;
}
.mini-tokyo-3d .railway-list > * {
    vertical-align: middle;
}
.mini-tokyo-3d .railway-list .line-strip {
    width: 10px;
    height: 18px;
    margin-right: 8px;
    display: inline-block;
}
.mini-tokyo-3d .modal-panel-background {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 3;
    background-color: #000;
    opacity: 0.5;
    transition: opacity 300ms ease;
}
.mini-tokyo-3d .modal-panel-background.closed {
    opacity: 0;
}
.mini-tokyo-3d .close-button {
    width: 20px;
    height: 100%;
    background: no-repeat center/13px svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/xmark.svg', fill: #fff);
    cursor: pointer;
}
.mini-tokyo-3d .about-panel #panel-body{
    font-size: 12px;
    line-height: 20px;
}
.mini-tokyo-3d .about-panel a:link,
.mini-tokyo-3d .about-panel a:visited {
    color: #f90;
    text-decoration: none;
}
.mini-tokyo-3d .about-panel a:hover,
.mini-tokyo-3d .about-panel a:active {
    color: #f90;
    text-decoration: underline;
}
.mini-tokyo-3d .card-title {
    background: rgba(51, 51, 51, 0.7);
    color: #fff;
    display: block;
    padding: 4px;
}
.mini-tokyo-3d .card-body {
    border: 1px solid rgba(51, 51, 51, 0.7);
    margin-bottom: 10px;
    padding: 0 4px;
}
.mini-tokyo-3d .layer-row {
    height: 60px;
}
.mini-tokyo-3d .layer-row div {
    display: inline-block;
    vertical-align: middle;
}
.mini-tokyo-3d .layer-icon {
    width: 48px;
    height: 48px;
    margin: 1px 11px 1px 1px;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: #777;
    cursor: pointer;
    background: no-repeat center/32px svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/puzzle-piece.svg', fill: #fff);
}
.mini-tokyo-3d .layer-icon-enabled {
    margin: 0 10px 0 0;
    border-width: 2px;
    border-color: #33B5E5;
}
.mini-tokyo-3d .tracking-mode-row {
    height: 60px;
}
.mini-tokyo-3d .tracking-mode-row div {
    display: inline-block;
    vertical-align: middle;
}
.mini-tokyo-3d .tracking-mode-icon {
    width: 48px;
    height: 48px;
    margin: 1px 11px 1px 1px;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    border-color: #777;
    cursor: pointer;
    background: no-repeat center/32px;
}
.mini-tokyo-3d #position-tracking-mode .tracking-mode-icon {
    background-size: 32px;
    background-image: svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/crosshairs.svg', fill: #fff);
}
.mini-tokyo-3d #back-tracking-mode .tracking-mode-icon {
    background-size: 32px;
    background-image: svg-load('../svg/railroad.svg', fill: #fff);
}
.mini-tokyo-3d #topback-tracking-mode .tracking-mode-icon {
    background-size: 32px;
    background-image: svg-load('../svg/up.svg', fill: #fff);
}
.mini-tokyo-3d #front-tracking-mode .tracking-mode-icon {
    background-size: 32px;
    background-image: svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/train.svg', fill: #fff);
}
.mini-tokyo-3d #topfront-tracking-mode .tracking-mode-icon {
    background-size: 32px;
    background-image: svg-load('../svg/down.svg', fill: #fff);
}
.mini-tokyo-3d #helicopter-tracking-mode .tracking-mode-icon {
    background-size: 32px;
    background-image: svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/helicopter.svg', fill: #fff);
}
.mini-tokyo-3d #drone-tracking-mode .tracking-mode-icon {
    background-size: 32px;
    background-image: svg-load('../svg/drone.svg', fill: #fff);
}
.mini-tokyo-3d #bird-tracking-mode .tracking-mode-icon {
    background-size: 32px;
    background-image: svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/dove.svg', fill: #fff);
}
.mini-tokyo-3d .tracking-mode-icon-enabled {
    margin: 0 10px 0 0;
    border-width: 2px;
    border-color: #33B5E5;
}
.mini-tokyo-3d .panel.closed {
    height: 0;
}
.mini-tokyo-3d .swiper-slide {
    padding: 0 10px;
    box-sizing: border-box;
    overflow: auto;
}
.mini-tokyo-3d .swiper-slide-content {
    position: relative;
    overflow: hidden;
}
.mini-tokyo-3d .swiper-pagination {
    pointer-events: none;
}
.mini-tokyo-3d .swiper-pagination-bullet {
    background-color: #fff;
    pointer-events: auto;
}
