@import 'mapbox-gl/src/css/mapbox-gl.css';

#map {
	width: 380px;
	height: 380px;
	margin: 0;
	padding: 0;
	position: relative;
	font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
	cursor: default;
	-webkit-touch-callout: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	touch-action: none;
}
.loader-inner {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 21px;
	transform: translate(-50%, -50%);
	padding: 20px;
	border-radius: 10px;
	background-color: #eee;
	opacity: .9;
	transition: opacity 1s linear;
	box-sizing: initial;
}
.ball-pulse > div {
	background-color: #777;
}
#loading-error {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 21px;
	transform: translate(-50%, -50%);
	padding: 20px;
	border-radius: 10px;
	color: #333;
	background-color: #eee;
	opacity: .9;
	display: none;
}
#clock {
	position: absolute;
	z-index: 1;
	top: 10px;
	left: 10px;
	padding: 10px;
	border-radius: 3px;
	background-color: rgba(0, 0, 0, 0.7);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	color: #fff;
	display: none;
}
#time {
	font-size: 150%;
}
.clock-controller {
	width: 100%;
	margin-top: 4px;
	margin-bottom: 10px;
	display: table;
	font-size: 150%;
}
.clock-controller > span {
	vertical-align: middle;
	text-align: center;
	display: table-cell;
}
.clock-controller-separator {
	width: 10px;
}
.spin-box {
	width: 30px;
	border-radius: 4px;
	box-shadow:0 0 0 1px #777;
}
.spin-box:first-child {
	width: 52px;
}
.spin-box > div {
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
}
.spin-box > div:first-child {
	border-bottom: solid 1px #777;
}
.spin-box > div:last-child {
	border-top: solid 1px #777;
}
.spin-box button {
	display: block;
	width: 100%;
	height: 100%;
	padding: 0;
	border: 0;
	color: #fff;
	background-color: transparent;
	cursor: pointer;
}
.spin-box .top-button {
	border-radius: 4px 4px 0 0;
}
.spin-box .bottom-button {
	border-radius: 0 0 4px 4px;
}
.clock-button {
	width: 100%;
	margin-top: 4px;
	margin-bottom: 10px;
	display: table;
}
.clock-button > span {
	height: 30px;
	vertical-align: middle;
	text-align: center;
	display: table-cell;
}
.clock-button button {
	width: 100%;
	height: 100%;
	padding: 0;
	border: 0;
	border-radius: 4px;
	box-shadow:0 0 0 1px #777;
	color: #fff;
	background-color: transparent;
	cursor: pointer;
}
.speed-controller {
	width: 100%;
	margin-top: 4;
	display: table;
	border-radius: 4px;
	box-shadow:0 0 0 1px #777;
}
.speed-controller > span {
	height: 30px;
	vertical-align: middle;
	text-align: center;
	display: table-cell;
}
.speed-controller > span:first-child {
	width: 30px;
	border-right: solid 1px #777;
}
.speed-controller > span:last-child {
	width: 30px;
	border-left: solid 1px #777;
}
.speed-controller button {
	display: block;
	width: 100%;
	height: 100%;
	padding: 0;
	border: 0;
	color: #fff;
	background-color: transparent;
	cursor: pointer;
}
.speed-controller .left-button {
	border-radius: 4px 0 0 4px;
}
.speed-controller .right-button {
	border-radius: 0 4px 4px 0;
}
.decrease-icon {
	display: block;
	width: 100%;
	height: 12px;
	background: no-repeat center/12px svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/minus.svg', fill: #fff);
}
button:disabled .decrease-icon {
	background-image: svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/minus.svg', fill: #7f7f7f);
}
#clock button:disabled {
	color: #777;
}
#clock button:not(:disabled):hover {
	background-color: rgba(51, 51, 51, 0.7);
}
.increase-icon {
	display: block;
	width: 100%;
	height: 12px;
	background: no-repeat center/12px svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/plus.svg', fill: #fff);
}
button:disabled .increase-icon {
	background-image: svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/plus.svg', fill: #7f7f7f);
}
#clock-speed {
	padding: 0 6px;
}
#timetable {
	position: absolute;
	z-index: 3;
	bottom: 0;
	left: 0;
	right: 0;
	width: calc(100% - 20px);
	max-width: 380px;
	height: 33%;
	margin: auto;
	border-radius: 3px 3px 0 0;
	background-color: rgba(0, 0, 0, 0.7);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
	display: none;
	font-size: 130%;
	color: #fff;
	transition: height 300ms ease;
}
#timetable-header {
	height: 48px;
	margin: 10px 0;
	padding: 0 10px;
	overflow: hidden;
	line-height: 150%;
	cursor: pointer;
}
#timetable-body {
	height: calc(100% - 68px);
	margin: 10px 0;
	padding: 0 10px;
	overflow: auto;
	overscroll-behavior: contain;
	line-height: 130%;
}
.windows {
	scrollbar-width: thin;
	scrollbar-color: #ccc transparent;
}
.windows::-webkit-scrollbar {
	width: 10px;
}
.windows::-webkit-scrollbar-thumb {
    background: #ccc;
    background-clip: content-box;
	border-radius: 6px;
    border: solid 2px transparent;
}
.scroll-box {
	position: relative;
}
#railway-mark {
	position: absolute;
	top: 0;
	left: 0;
	width: 24px;
	height: 100%;
}
#train-mark {
	position: absolute;
	top: 0;
	left: 0;
	width: 44px;
	height: calc(100% + 20px);
	margin: -10px;
}
.station-row {
	margin: 4px 0;
}
.station-row:hover {
	background-color: rgba(102, 102, 102, 0.7);
}
.station-row > div {
	display: inline-block;
	vertical-align: middle;
}
.station-title-box {
	margin-left: 30px;
	width: calc(100% - 72px);
}
.station-time-box {
	width: 42px;
	text-align: right;
}
#timetable-button {
	pointer-events: none;
}
.slide-down {
	position: absolute;
	top: 24px;
	right: 10px;
	width: 20px;
	height: 20px;
	background: no-repeat center/13px svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/angle-down.svg', fill: #fff);
}
.slide-up {
	position: absolute;
	top: 24px;
	right: 10px;
	width: 20px;
	height: 20px;
	background: no-repeat center/13px svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/angle-up.svg', fill: #fff);
}
.mapboxgl-ctrl-search {
	transition: width 300ms ease;
}
.mapboxgl-ctrl button.mapboxgl-ctrl-search .mapboxgl-ctrl-icon {
	background: no-repeat right 5px center/19px svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/search.svg', fill: #333);
}
.mapboxgl-ctrl button.mapboxgl-ctrl-underground .mapboxgl-ctrl-icon {
	background: no-repeat center/23px svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/eye.svg', fill: #333);
}
.mapboxgl-ctrl button.mapboxgl-ctrl-underground-visible .mapboxgl-ctrl-icon {
	background-image: svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/eye.svg', fill: #33B5E5);
}
.mapboxgl-ctrl button.mapboxgl-ctrl-track-helicopter .mapboxgl-ctrl-icon {
	background: no-repeat center/23px svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/helicopter.svg', fill: #333);
}
.mapboxgl-ctrl button.mapboxgl-ctrl-track-helicopter.mapboxgl-ctrl-track-active .mapboxgl-ctrl-icon {
	background-image: svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/helicopter.svg', fill: #33B5E5);
}
.mapboxgl-ctrl button.mapboxgl-ctrl-track-train .mapboxgl-ctrl-icon {
	background: no-repeat center/19px svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/train.svg', fill: #333);
}
.mapboxgl-ctrl button.mapboxgl-ctrl-track-train.mapboxgl-ctrl-track-active .mapboxgl-ctrl-icon {
	background-image: svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/train.svg', fill: #33B5E5);
}
.mapboxgl-ctrl button.mapboxgl-ctrl-playback .mapboxgl-ctrl-icon {
	background: no-repeat center/21px svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/play-circle.svg', fill: #333);
}
.mapboxgl-ctrl button.mapboxgl-ctrl-playback-active .mapboxgl-ctrl-icon {
	background-image: svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/play-circle.svg', fill: #33B5E5);
}
.mapboxgl-ctrl button.mapboxgl-ctrl-weather .mapboxgl-ctrl-icon {
	background: no-repeat center/21px svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/cloud-showers-heavy.svg', fill: #333);
}
.mapboxgl-ctrl button.mapboxgl-ctrl-weather-active .mapboxgl-ctrl-icon {
	background-image: svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/cloud-showers-heavy.svg', fill: #33B5E5);
}
.mapboxgl-ctrl button.mapboxgl-ctrl-about .mapboxgl-ctrl-icon {
	background: no-repeat center/21px svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/info-circle.svg', fill: #333);
}
.mapboxgl-popup-content {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.7);
}
.mapboxgl-popup-content a:link,
.mapboxgl-popup-content a:visited {
	color: #f90;
	text-decoration: none;
}
.mapboxgl-popup-content a:hover,
.mapboxgl-popup-content a:active {
	color: #f90;
	text-decoration: underline;
}
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-top-right .mapboxgl-popup-tip {
	border-bottom-color: rgba(0, 0, 0, 0.7);
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-left .mapboxgl-popup-tip,
.mapboxgl-popup-anchor-bottom-right .mapboxgl-popup-tip {
	border-top-color: rgba(0, 0, 0, 0.7);
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip {
	border-right-color: rgba(0, 0, 0, 0.7);
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip {
	border-left-color: rgba(0, 0, 0, 0.7);
}
#search-box {
	top: 25px;
	right: 144px;
	width: 200px;
	height: 22px;
	transform: translate(50%, -50%);
	font-size: 16px;
	border: none;
	outline: none;
	background-color: rgba(255, 255, 255, 0);
	opacity: 0;
	display: none;
	position: absolute;
	z-index: 3;
}
.acd-check {
	display: none;
}
.acd-label {
	background: rgba(51, 51, 51, 0.7);
	color: #fff;
	display: block;
	padding: 4px;
	cursor: pointer;
}
.acd-label .acd-icon {
	display: inline-block;
	width: 12px;
	height: 12px;
	margin-right: 4px;
	margin-bottom: -2px;
	background: no-repeat center/12px svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/plus-square.svg', fill: #fff);
}
.acd-check:checked + .acd-label .acd-icon {
	background-image: svg-load('../../node_modules/@fortawesome/fontawesome-free/svgs/solid/minus-square.svg', fill: #fff);
}
.acd-content {
	border: 1px solid rgba(51, 51, 51, 0.7);
	margin-bottom: 1px;
	height: 0;
	opacity: 0;
	padding: 0 4px;
	visibility: hidden;
}
.acd-check:checked + .acd-label + .acd-content {
	height: auto;
	opacity: 1;
	visibility: visible;
}
.desc-header {
	display: table;
}
.desc-header > div {
	display: table-cell;
	vertical-align: top;
}
.desc-header > div:first-child {
	width: 10px;
}
.desc-header > div:last-child {
	padding-left: 8px;
}
.desc-caution {
	color: #f90;
}
.line-strip {
	width: 10px;
	height: 13px;
}
.line-strip-long {
	width: 10px;
	height: 16px;
}
